.Form {
    width: 100%; 
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 10px;
    margin-bottom: 30px;
}

.Section {
    margin-top: 30px;
    width: 100%; 
    display: grid;
    grid-template-rows: auto auto;
    grid-gap: 10px;
    margin-bottom: 30px;
}

.Label {
    width: 100%; 
    display: grid;
    grid-template-columns: auto 70%;
    grid-gap: 10px;
}